*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, footer {
    margin: 0;
    padding: 0;
    background-color: #242131 ;
    color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    color: antiquewhite;
    background-color: #3aa764;
    padding: 20px;
    text-align: center;
    height: 20vh;
    font-size: 24px;
    grid-column: span 12;
}
banner-content {
    padding: 20vh;
    text-align: center;
}

[class*="column-"] {
    display: grid;
    float: left;
}

.row{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, minmax(12, 1fr));
}

.column-1{
    grid-column: span 4;
    height: 80vh;
    background-color: #3aa764;
}

footer{
    background-color: #2c834e;
    color: antiquewhite;
    text-align: center;
    min-height: 70px;
    margin: 0;
    padding: 0;
}