* {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #242131 ;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
  }  

.banner {
    background-color: rgb(24, 30, 48);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}

.banner nav {
    display: flex;
    position: relative;
    border-width: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.banner a {
    color: rgb(98, 141, 221);
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    border-style: outset;
    background-color: #242131;
    margin-left: 30px;
    align-items: center;
} 

.banner a:hover {
    color: aliceblue;
    transition-duration: 0.3s;
}

.banner h1 {
    position: absolute;
    padding-right: 160vh;
}

.lowbar{
    background-color: rgb(71, 71, 139);
}

.sidebar-main{
    background-color: rgb(211, 106, 65);
    display: flex;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    border-style: outset;
    border-color: antiquewhite;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sidebar-content p {
    background-color: antiquewhite;
    border-radius: 15px;
    width: 450px;
    height: 250px;
    border-style: outset;
    border-color:rgb(148, 132, 112);
}
